@font-face {
	font-family: "DINPro"; /* Гарнитура шрифта */
	src: url(../fonts/DINPro-Medium.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: "DINPro regular"; /* Гарнитура шрифта */
	src: url(../fonts/DINPro-Regular.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: "DINPro Bold"; /* Гарнитура шрифта */
	src: url(../fonts/DINPro-Bold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: "DINPro Black"; /* Гарнитура шрифта */
	src: url(../fonts/DINPro-Black.otf); /* Путь к файлу со шрифтом */
}

body {
	min-width: 1254px;
}

.wrapper {
	margin-top: 98px;
}

a {
	color: #ca006a;
	text-decoration: none;
}

.container {
	width: 960px;
	margin: 0 auto;
	clear: both;
	position: relative;
	
}

.clearfix:after {
	visibility: hidden;
	clear: both;
	display: block;
	content: "";
	height: 0;
}

.header {
	height: 98px;
	background-color: #FFF;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.gradient {
	background-color: #fff;
	background-image: -moz-linear-gradient(left, #c90069 -25%, #c90069 50.92%, #c90069 125%);
	background-image: -o-linear-gradient(left, #c90069 -25%, #c90069 50.92%, #c90069 125%);
	background-image: -webkit-linear-gradient(left, #c90069 -25%, #c90069 50.92%, #c90069 125%);
	background-image: linear-gradient(left, #c90069 -25%, #c90069 50.92%, #c90069 125%);
}

.gradient a {
	color: #fff;
}

.gradient .header-menu-out {
	background: white;
	color: #C90069;
}

.header-logo {
	margin-top: 14px;
	margin-left: 8px;	
	float: left;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.header-menu {
	float: right;
	margin: 0;
	height: 98px;
	line-height: 98px;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.header-menu li {
	display: inline-block;
	list-style: none;
	height: 75px;
	line-height: 13px;
	margin-left: 20px;
	color: #ca006a; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.header-menu-out, .header-menu-in {
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	    padding: 8px 15px;
	    color: white;
	    background: #C90069;
}

.header-menu .li_4 {
	/*border: 1px solid black;*/	
}

.brain {
	height: 46px;
	background: #FFF;
	display: none;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.brain .container {
	overflow: hidden;
}

.brain-progress {
	position: relative;
	height: 46px;
	width: 50%;
	background: #CA006A;
	background-image: -moz-linear-gradient(left, #c90069 -25%, #c90069 -24.3%, #c90069 11.62%, #c90069 88.75%, #c90069 124.63%, #c90069 125%);
	background-image: -o-linear-gradient(left, #c90069 -25%, #c90069 -24.3%, #c90069 11.62%, #c90069 88.75%, #c90069 124.63%, #c90069 125%);
	background-image: -webkit-linear-gradient(left, #c90069 -25%, #c90069 -24.3%, #c90069 11.62%, #c90069 88.75%, #c90069 124.63%, #c90069 125%);
	background-image: linear-gradient(left, #c90069 -25%, #c90069 -24.3%, #c90069 11.62%, #c90069 88.75%, #c90069 124.63%, #c90069 125%);
}

.brain-text {
	position: absolute;
	color: #000;
	font-family: "DINPro regular", sans-serif;
	font-size: 20px;
	top: 10px;
	left: 341px;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.brain-progress::before {
	width: 32px;
	height: 46px;
	display: block;
	background: #CA006A;
	-webkit-transform: skew(33deg);
	content:"";
	position: absolute;
	right: -15px;
}

.gray-brain, .green-brain {
	width: 31px;
	height: 36px;
	background: url("../img/gray-brain.png") no-repeat center;
	position: absolute;
	top: -5px;
	right: -45px;
}

.green-brain {
	height: 36px;
	background: url("../img/green-brain.png") no-repeat bottom;
	right: -45px;
	top: -5px;
}

.main {
	background: url(../img/bg.png) no-repeat top ;
	height: 803px;
	padding-top: 27px;
	position: relative;
}

.main-title {
	margin-top: 22px;
	height: 152px;
	width: 938px;
	margin-left: 22px;
	/*border: 1px solid black;*/
	opacity: .84; /* layer alpha */
	background-color: #fff; /* layer fill content */
	color: #ca006a; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
	line-height: 45px;
	padding-top: 27px;
	vertical-align: middle;
}

.main-timer {
	width: 560px;
	height: 208px;
	border: 3px solid #f8f8f8; /* stroke */
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #cc0066; /* layer fill content + color overlay */
	-moz-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	-webkit-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	margin-left: 50px;
	margin-top: 218px;
	float: left;
	padding-top: 24px;
	text-align: center;
	position: relative;
}

.main-timer-title {
	line-height: 40px;
	color: #fff; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 25px;
}

.main-form {
	border: 3px solid #f8f8f8; /* stroke */
	-moz-border-radius: 8px / 7px 7px 7px 7px;
	-webkit-border-radius: 8px / 7px 7px 7px 7px;
	border-radius: 8px / 7px 7px 7px 7px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #c90069; /* layer fill content + color overlay */
	-moz-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	-webkit-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	height: 316px;
	width: 310px;
	float: right;
	margin-top: 95px;
	padding-top: 38px;
	text-align: center;
	position: relative;
}

.main-form-title {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 25px;
}

.main-form-price {
	margin-top: 17px;
	color: #fff; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 15px;
}
.form-email {
	background: url("../img/mail.png") no-repeat 15px;
	margin-top: 20px;
}

.form-phone {
	background: url("../img/phone.png") no-repeat 15px;
	margin-top: 14px;
}

.form-email, .form-phone {
	border: 1px solid #ededed; /* stroke */
	-moz-border-radius: 6px / 7px 7px 7px 7px;
	-webkit-border-radius: 6px / 7px 7px 7px 7px;
	border-radius: 6px / 7px 7px 7px 7px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: inset 0 1px 11px rgba(0,0,0,.61); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 11px rgba(0,0,0,.61); /* inner shadow */
	box-shadow: inset 0 1px 11px rgba(0,0,0,.61); /* inner shadow */
	width: 258px;
	height: 40px;
	color: #3d3d3d; /* text color */
	font-family: "DINPro Regular", sans-serif;
	font-size: 20px;
	padding-left: 66px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.form-button {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro Bold", sans-serif;
	margin-top: 17px;
	font-size: 25px;
	width: 278px;
	height: 63px;
	border: 3px solid #f8f8f8; /* stroke */
	-moz-border-radius: 8px / 8px 8px 8px 8px;
	-webkit-border-radius: 8px / 8px 8px 8px 8px;
	border-radius: 8px / 8px 8px 8px 8px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #e1a902; /* layer fill content */
	-moz-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	-webkit-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMjUlIiB4Mj0iNTAlIiB5Mj0iMTI1JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyODdiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjg3YjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiM3YWQxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzQ5OTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1N2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1N2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	background-image: -o-linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	background-image: -webkit-linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	background-image: linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
}

input::-webkit-input-placeholder {color:#3d3d3d;}
input::-moz-placeholder {color:#3d3d3d;}

.main-arrow {
	z-index: 2;
	top: 148px;
	right: -88px;
	width:166px;
	height: 51px;
	position: absolute;
	background: url("../img/arrow.png");
}

.main-list-bottom {
	position: relative;
	bottom: -32px;
	left: -212px;
	color: #fff; /* text color */
	font-family: "DINPro regular", sans-serif;
	font-size: 20px;
}

.main-turn-bottom {
	position: relative;
	left: 461px;
	top: 50px;
	width: 30px;
}

.problems {
	height: 757px;
}

.problems-title {
	height: 43px;
	color: #000; 
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
}

.problems-text {
	height: 715px;
	background: url("../img/problem.png") no-repeat center;
	color: #000; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 20px;
	text-align: center;
}

.problems-text_1 {
	position: absolute;
	left: 681px;
	top: 218px;
	width: 261px;
}

.problems-text_2 {
	position: absolute;
	left: 747px;
	top: 438px;
	width: 260px;
}

.problems-text_3 {
	position: absolute;
	left: 30px;
	top: 168px;
	width: 248px;
}

.problems-text_4 {
	position: absolute;
	left: -37px;
	top: 346px;
	width: 235px;
}

.problems-text_5 {
	position: absolute;
	left: -35px;
	top: 532px;
	width: 282px;
}

.understand {
	height: 1086px;
	background: url("../img/understand.png") no-repeat center;
}

.understand-rect {
	width: 811px;
	height: 941px;
	background: url("../img/rect.png") no-repeat center;
	margin: 0 auto;
	line-height: 41px;
}

.understand .container {
	padding-top: 41px;
}

.understand-rect-circle {
	text-align: center;
}

.understand-rect-circle img {
	margin-top: 71px;
}

.understand-rect-title {
	width: 645px;
	height: 200px;
	margin: 0 auto;
	margin-top: 42px;
	text-align: center;
	color: #000000; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;	
	text-transform: uppercase;
	border-bottom: 4px solid #498500;
}

.understand-button {
	cursor: pointer;
}

.green {
	color: #4a8500;
}

.undersatnd-rect-text {
	width: 700px;
	height: 83px;
	margin: 0 auto;
	text-align: center;
	color: #000; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 40px;
	margin-top: 33px;
}

.understand button {
	border: 3px solid #f8f8f8; /* stroke */
	-moz-border-radius: 13px / 13px 13px 13px 13px;
	-webkit-border-radius: 13px / 13px 13px 13px 13px;
	border-radius: 13px / 13px 13px 13px 13px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	-webkit-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMjUlIiB4Mj0iNTAlIiB5Mj0iMTI1JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyODdiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjg3YjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiM3YWQxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzQ5OTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1N2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1N2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	background-image: -o-linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	background-image: -webkit-linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	background-image: linear-gradient(top, #287b00 -25%, #287b00 -24.3%, #7ad100 11.62%, #499500 88.75%, #257c00 124.63%, #257c00 125%); /* gradient overlay */
	width: 532px;
	height: 87px;
	color: #fff; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 40px;
	text-shadow: 1px 2px 2px rgba(0,0,0,.75); /* drop shadow */
	margin-left: 138px;
	margin-top: 40px;
}

.step {
	background: url("../img/step.png") no-repeat center;
	height: 837px;
	position: relative;
	top: -53px;
	z-index: -1;
}

.step .container {
	padding-top: 105px;
}

.step-title {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
}

.step-image {
	height: 484px;
	margin-top: 51px;
	background: url("../img/step-image.png") no-repeat center;
}

.programm {
	height: 1303px;
	background: url("../img/programm.png") no-repeat center;
	position: relative;
	top: -95px;
	z-index:-2;
}

.programm .container {
	padding-top: 131px;
}

.programm-title {
	text-align: center;
	color: #000; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-transform: uppercase;
	line-height: .95;
}

.programm-title > span {
	font-size: 25px;
}

.programm-info {
	width: 643px;
	height: 363px;
	border: 1px solid black;
	position: relative;
	left: 257px;
	top: 29px;
	background: #FFF;	
}

.programm-info-title {
	margin-top: 32px;
	margin-left: 40px;
	color: #c90069; /* text color */
	font-family: "DINPro bold", sans-serif;
	font-size: 30px;
}

.programm-ul {
	color: #c90069; /* text color */
	font-family: "DINPro regular", sans-serif;
	font-size: 25px;
	line-height: 30px;
}

.programm-circle {
	-moz-border-radius: 184px / 184px 184px 184px 184px;
	-webkit-border-radius: 184px / 184px 184px 184px 184px;
	border-radius: 184px / 184px 184px 184px 184px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #00adef; /* layer fill content + color overlay */
	height: 372px;
	width: 372px;
	position: absolute;
	right: -148px;
	top: 0px;
	z-index: 2;
	text-align: center;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.programm-circle span {
	color: #fff; /* text color */
	font-family: "DINPro regular", sans-serif;
	font-size: 80px;
	line-height: 2;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.programm-circle-num {
	color: #fff; /* text color */
	font-family: "DINPro black", sans-serif;
	font-size: 180px;
	margin-top: -72px;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.programm-circle-prev {
	background: url("../img/programm-prev.png") no-repeat;
	height: 36px;
	width: 18px;
	position: relative;
	top: 76px;
	left: 70px;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.programm-circle-next {
	background: url("../img/programm-next.png") no-repeat;
	height: 36px;
	width: 18px;
	position: relative;
	left: 279px;
	top: -120px;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}

.skills {
	height: 731px;
	background: url("../img/skills.png") no-repeat center bottom;
	margin-top: -147px;
	position: relative;
}

.skills .container {
	margin-top: 111px;
}

.skills-title {
	color: #000; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
}

.skills-table {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro regular", sans-serif;
	font-size: 20px;
	text-align: center;
	width: 1212px;
	margin: 0 auto;
	margin-top: 55px;
	margin-left: -139px;
	border-collapse: separate;
	border-spacing: 0 75px;
}

.skills-table .tr-2 {
	color: #212121;
}

.skills-table td {
	height: 80px;
	vertical-align: top;
	width: 245px;
}

.skills-table .tr-2 {
	margin-left: 100px;
}

.when {
	height: 886px;
	margin-top: -39px;
	background: url("../img/when-bg.png") no-repeat center;
	z-index: -4;
}

.girl {
	background: url("../img/when.png") no-repeat center;
	position: absolute;
	height: 620px;
	width: 590px;
	top: 244px;
	left: -159px;
}

.when .container {
	padding-top: 97px;
}

.when-title {
	color: #000; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
}
.when-date {
	color: #000; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 25px;
	float: right;
	text-transform: uppercase;
	margin-right: 130px;
	margin-top: 41px;
}

.when-form {
	float: right;
	border: 3px solid #f8f8f8; /* stroke */
	-moz-border-radius: 8px / 10px 10px 10px 10px;
	-webkit-border-radius: 8px / 10px 10px 10px 10px;
	border-radius: 8px / 10px 10px 10px 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #c90069; /* layer fill content + color overlay */
	-moz-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	-webkit-box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	box-shadow: inset 0 0 1px 0 rgba(132,132,132,.75); /* inner glow */
	width: 585px;
	height: 466px;
	margin-top: 53px;
}

.when-form-title {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 42px;
}

.when-form .timer {
	margin-top: 43px;
}

.timer {
	height: 113px;
}

.when-form input {
	margin-top: 61px;
}

.when-form .form-email {
	margin-left: 33px;
}

.when-form .form-button {
	margin-top: 26px;
	margin-left: 152px;
}

.experts {
	height: 873px;
	margin-top: -50px;
}

.experts .container {
	padding-top: 105px;
}

.experts-title {
	color: #242424; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
}

.slider3 {
	height: 530px;
	margin: 0 auto;
}

.row-fluid {
	list-style: none;
	padding: 0;
	margin: 0;
}

.row-fluid li {
	display: inline-block;
	width: 296px;
	height: 449px;
	border: 1px solid #c90069;
	margin-right: 26px;
	text-align: center;
}

.row-fluid li:last-child {
	margin-right: 0;
}

.slide-2 {
	display: none;
}

.testi-img {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	    margin-top: 83px;
	    width: 162px;
	    height: 162px;
}

.slider3-tittle {
	color: #232323; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 25px;
	margin-top: 35px;
}

.slider3-text1 {
	color: #232323; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 15px;
	margin-top: 27px;
}

.slider3-social {
	width: 164px;
	height: 48px;
	margin: 0 auto;
	margin-top: 26px;
}

.slider3-circle {
	text-align: center;
	margin-top: 58px;
	cursor: pointer;
}

.results {
	height: 1537px;
	background: url("../img/results.png") no-repeat center;
	margin-top: -57px;
}

.results .container {
	padding-top: 126px;
}

.results-ul {
	list-style: none;
	width: 850px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.results-video {
	display: inline-block;
	margin-right: 96px;
	margin-top: 50px;
}

.results-video:nth-last-child(2n+1) {
	margin-right: 0;
}

.results-title {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
}

.results-video-title {
	color: #fff; /* text color + color overlay */
	font-family: "DINPro", sans-serif;
	font-size: 25px;
	margin-bottom: 26px;
}

.results-video-video {
	-moz-border-radius: 9px / 8px;
	-webkit-border-radius: 9px / 8px;
	border-radius: 9px / 8px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #3d8db1; /* layer fill content */
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.75); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.75); /* inner shadow */
	box-shadow: inset 0 1px 5px rgba(0,0,0,.75); /* inner shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9Ijc1JSIgPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KPC9yYWRpYWxHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
	background-image: -moz-radial-gradient(center center, circle, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -o-radial-gradient(center center, 150px 150px, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -webkit-radial-gradient(center center, 150px 150px, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: radial-gradient(center center, 150px 150px, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	width: 314px;
	height: 210px;
	padding: 10px;
}

.results-video-review {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #3d8db1; /* layer fill content */
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.75); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.75); /* inner shadow */
	box-shadow: inset 0 1px 5px rgba(0,0,0,.75); /* inner shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9Ijc1JSIgPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KPC9yYWRpYWxHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
	background-image: -moz-radial-gradient(center center, circle, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -o-radial-gradient(center center, 150px 150px, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -webkit-radial-gradient(center center, 150px 150px, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: radial-gradient(center center, 150px 150px, #fff 0%, #f6f6f6 100%); /* gradient overlay */
	width: 324px;
	height: 56px;
	margin: 0 auto;
	margin-top: 16px;
}

.results-video-review {
	padding-top: 11px;
	line-height: 21px;
	color: #232323; /* text color */
	font-family: "DINPro regular", sans-serif;
	font-size: 15px;
}

.garant {
	height: 554px;
	margin-top: -46px;
}

.garant .container {
	padding-top: 115px;
}

.garant-img {
	float: left;
	margin-top: 51px;
}

.garant-text {
	margin-top: 51px;
	float: right;
	color: #232323; /* text color */
	font-family: "DINPro regular", sans-serif;
	font-size: 25px;
}

.garant-title {
	color: #232323; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
	text-align: center;
}

.when-1 {
	background: url("../img/when-1.png") no-repeat center;
	height: 886px;
	margin-top: -72px;
}

.when-1 .girl {
	top: 141px;
}

.when-1 .when-form {
	margin-top: 212px;
}

.reviews {
	height: 1299px;
	margin-top: -142px;
}

.reviews .container {
	padding-top: 126px;
}


.reviews-title {
	text-align: center;
	color: #232323; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 45px;
}

.reviews-ul {
	width: 943px;
	height: 926px;
	list-style: none;
	margin: 0 auto;
	margin-top: 35px;
	padding: 0;
	text-align: center;
}

.reviews-li {
	display: inline-block;
	background: url("../img/reviews-blue.png");
	width: 441px;
	height: 439px;
	margin-top: 50px;
}

.reviews-li:nth-last-child(2n+1) {
	margin-left: 55px;
}

.reviews-li-img {
	width: 107px;
	height: 107px;
	background: url("../img/shot3.png") no-repeat center;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.reviews-li-title {
	float: left;
	margin-top: 41px;
	margin-left: 81px;
	color: #232323; /* text color */
	font-family: "DINPro regular", sans-serif;
	font-size: 25px;
}

.reviews-text {
	width: 404px;
	height: 228px;
	margin-top: 172px;
	text-align: justify;
	color: #fff; /* text color + color overlay */
	font-family: "DINPro regular", sans-serif;
	font-size: 25px;
	line-height: 25px;
	margin-left: 17px;
}

.red {
	background: url("../img/reviews-red.png");
	position: relative;
}

.red .reviews-li-img {
	position: absolute;
	left: 10px;
}

.red .reviews-li-title {
	position: absolute;
	left: 98px;
}

.footer {
	height: 136px;
	border: 2px dotted #323232;
	margin: 15px;
	position: relative;
}

.footer-logo {
	margin-left: 10px;
	margin-top: 43px;
	float: left;
}

.footer-title {
	color: #323232; /* text color */
	font-family: "DINPro", sans-serif;
	font-size: 25px;
	margin-left: 60px;
	margin-top: 33px;
	float: right;
}

.cell {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 399px;
  height: 116px;
  background: url("../img/timer.png") no-repeat center;
  margin-left: 84px;
  position: relative;
}

.timer-line {
	background: url("../img/timer-line.png");
	width: 395px;
	height: 13px;
	position: absolute;
	top: 30px;
	left: 2px;
}

.timer-num {
	width: 401px;
	height: 78px;
	color: #444; /* text color */
	font-family: "Arial";
	font-size: 68px;
	font-weight: bold;
	text-shadow: 0 0 2px #fff; /* outer glow */
	margin-left: -4px;
}

.timer-num div {
	float: left;
	padding-left: 14px;
	letter-spacing: 5px;
}